NodeRed/data/flows.json
[
    {
        "id": "7c62184c65c67547",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab-flow",
        "type": "tab",
        "label": "Login Sleep Monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3ebcdd2db0a32baf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ui-tab-login",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-tab-dashboard",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-group-login",
        "type": "ui_group",
        "name": "Access",
        "tab": "ui-tab-login",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui-group-dashboard",
        "type": "ui_group",
        "name": "Main",
        "tab": "ui-tab-dashboard",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "welcome-text",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-login",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<h3>Welcome to Sleep Monitoring System</h3>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "subtitle-text",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-login",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Please enter your data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "input-userid",
        "type": "ui_template",
        "z": "tab-flow",
        "group": "ui-group-login",
        "name": "UserID field",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"start center\" style=\"gap:6px;\">\n  <md-input-container flex>\n    <label>UserID</label>\n    <input ng-model=\"userID\" type=\"{{visible ? 'text' : 'password'}}\" placeholder=\"User1\">\n  </md-input-container>\n  <md-button class=\"md-icon-button\" ng-click=\"visible = !visible\" aria-label=\"Show/Hide\">\n    <span ng-if=\"!visible\">👁️</span>\n    <span ng-if=\"visible\">🙈</span>\n  </md-button>\n</div>\n<script>\n(function(scope){\n  scope.userID = \"\";\n  scope.visible = false;\n  scope.$watch('userID', function(val){\n    scope.send({payload: val, topic: 'userID'});\n  });\n  scope.$watch('msg', function(msg){\n    if(msg && msg.topic === 'clear'){\n      scope.userID = \"\";\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 220,
        "y": 170,
        "wires": [
            [
                "store-userid"
            ]
        ]
    },
    {
        "id": "store-userid",
        "type": "change",
        "z": "tab-flow",
        "name": "save userID",
        "rules": [
            {
                "t": "set",
                "p": "login_userID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "input-phone",
        "type": "ui_template",
        "z": "tab-flow",
        "group": "ui-group-login",
        "name": "Phone field",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"start center\" style=\"gap:6px;\">\n  <md-input-container flex>\n    <label>Phone</label>\n    <input ng-model=\"phone\" type=\"{{visiblePhone ? 'text' : 'password'}}\" placeholder=\"+573001112233\">\n  </md-input-container>\n  <md-button class=\"md-icon-button\" ng-click=\"visiblePhone = !visiblePhone\" aria-label=\"Show/Hide\">\n    <span ng-if=\"!visiblePhone\">👁️</span>\n    <span ng-if=\"visiblePhone\">🙈</span>\n  </md-button>\n</div>\n<script>\n(function(scope){\n  scope.phone = \"\";\n  scope.visiblePhone = false;\n  scope.$watch('phone', function(val){\n    scope.send({payload: val, topic: 'phone'});\n  });\n  scope.$watch('msg', function(msg){\n    if(msg && msg.topic === 'clear'){\n      scope.phone = \"\";\n    }\n  });\n})(scope);\n</script>",
        "x": 220,
        "y": 215,
        "wires": [
            [
                "store-phone"
            ]
        ]
    },
    {
        "id": "store-phone",
        "type": "change",
        "z": "tab-flow",
        "name": "save phone",
        "rules": [
            {
                "t": "set",
                "p": "login_phone",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 215,
        "wires": [
            []
        ]
    },
    {
        "id": "btn-login",
        "type": "ui_button",
        "z": "tab-flow",
        "name": "",
        "group": "ui-group-login",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Login",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-sign-in",
        "payload": "login",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 270,
        "wires": [
            [
                "prepare-login"
            ]
        ]
    },
    {
        "id": "prepare-login",
        "type": "function",
        "z": "tab-flow",
        "name": "Prepare request",
        "func": "const userID = flow.get('login_userID') || \"\";\nconst phone = flow.get('login_phone') || \"\";\n\nmsg.login = {\n    userID: userID.trim(),\n    phone: phone.trim()\n};\n\nmsg.method = \"GET\";\nmsg.url = \"http://catalog:9080/catalog\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 270,
        "wires": [
            [
                "get-catalog"
            ]
        ]
    },
    {
        "id": "get-catalog",
        "type": "http request",
        "z": "tab-flow",
        "name": "GET catalog",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 270,
        "wires": [
            [
                "validate-login"
            ]
        ]
    },
    {
        "id": "validate-login",
        "type": "function",
        "z": "tab-flow",
        "name": "Validate user + phone",
        "func": "const login = msg.login || {};\nconst catalog = msg.payload || {};\nconst users = catalog.usersList || [];\n\nconst found = users.find(u => {\n    const uid = (u.userID || \"\").trim();\n    const ph = (u.user_information && u.user_information.phone ? u.user_information.phone : \"\").trim();\n    return uid === login.userID && ph === login.phone;\n});\n\nif (!found) {\n    const errMsg = { payload: \"Data does not match\" };\n    const clearInputs = { payload: \"\", topic: \"clear\" };\n    const clearInputs2 = { payload: \"\", topic: \"clear\" };\n    return [errMsg, null, clearInputs, clearInputs2];\n} else {\n    // store real userID from catalog (e.g. \"{User1}\")\n    flow.set('current_user_id', (found.userID || '').trim());\n    const okMsg = { payload: \"Access approved\" };\n    const goDash = { payload: { tab: \"Dashboard\" } };\n    return [okMsg, goDash, null, null];\n}\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 270,
        "wires": [
            [
                "status-text",
                "status-delay",
                "load-dashboard"
            ],
            [
                "ui-ui-control"
            ],
            [
                "input-userid"
            ],
            [
                "input-phone"
            ]
        ]
    },
    {
        "id": "status-text",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-login",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "status",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "status-delay",
        "type": "delay",
        "z": "tab-flow",
        "name": "clear after 6s",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1110,
        "y": 270,
        "wires": [
            [
                "status-clear"
            ]
        ]
    },
    {
        "id": "status-clear",
        "type": "change",
        "z": "tab-flow",
        "name": "clear status text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 270,
        "wires": [
            [
                "status-text"
            ]
        ]
    },
    {
        "id": "ui-ui-control",
        "type": "ui_ui_control",
        "z": "tab-flow",
        "name": "",
        "events": "all",
        "x": 1120,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dash-welcome",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<h3>Dashboard</h3>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "load-dashboard",
        "type": "function",
        "z": "tab-flow",
        "name": "Build stats request",
        "func": "const userID = (flow.get('current_user_id') || '').trim();\nif (!userID) {\n    node.warn('No current_user_id set');\n    return null;\n}\n\nmsg.method = 'GET';\nmsg.url = 'http://reports-generator:8093/?user_id=' + encodeURIComponent(userID);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "get-sleep-api"
            ]
        ]
    },
    {
        "id": "get-sleep-api",
        "type": "http request",
        "z": "tab-flow",
        "name": "GET sleep stats",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1120,
        "y": 430,
        "wires": [
            [
                "process-sleep-stats"
            ]
        ]
    },
    {
        "id": "process-sleep-stats",
        "type": "function",
        "z": "tab-flow",
        "name": "Process stats",
        "func": "const data = msg.payload || {};\nconst win = data.window || {};\nconst stats = data.stats || {};\nconst stages = data.stages_hours || {};\nconst quality = data.sleep_quality || {};\n\nfunction formatTime(iso){\n  if(!iso) return '';\n  const d = new Date(iso);\n  const opt = {hour: '2-digit', minute:'2-digit'};\n  try {\n    return d.toLocaleTimeString('en-GB', opt);\n  } catch(e) {\n    return d.toISOString();\n  }\n}\n\nconst startStr = formatTime(win.start);\nconst endStr = formatTime(win.end);\n\nlet durationText = '';\nif (win.start && win.end) {\n  const d1 = new Date(win.start);\n  const d2 = new Date(win.end);\n  const diffMs = d2 - d1;\n  const totalMin = diffMs / 60000;\n  const h = Math.floor(totalMin / 60);\n  const m = Math.round(totalMin % 60);\n  durationText = `${h} h ${m} min`;\n}\n\nconst msgSleepInfo = {\n  payload: `Bedtime: ${startStr}<br>Wake time: ${endStr}<br>Total sleep duration: ${durationText}`\n};\n\nfunction makeChart(name, arr){\n  const dataArr = Array.isArray(arr) ? arr : [];\n  return {\n    payload: [{\n      series: [name],\n      data: [dataArr],\n      labels: dataArr.map((_, i) => (i+1).toString())\n    }]\n  };\n}\n\nconst bpm = stats.bpm || {};\nconst temp = stats.temperature || {};\nconst hum = stats.humidity || {};\n\nconst msgBpmChart = makeChart('BPM', bpm.data);\nconst msgBpmStats = {\n  payload: `Min: ${bpm.min} | Max: ${bpm.max} | Mean: ${typeof bpm.mean === 'number' ? bpm.mean.toFixed(2) : bpm.mean}`\n};\n\nconst msgTempChart = makeChart('Temperature', temp.data);\nconst msgTempStats = {\n  payload: `Min: ${temp.min} | Max: ${temp.max} | Mean: ${typeof temp.mean === 'number' ? temp.mean.toFixed(2) : temp.mean}`\n};\n\nconst msgHumChart = makeChart('Humidity', hum.data);\nconst msgHumStats = {\n  payload: `Min: ${hum.min} | Max: ${hum.max} | Mean: ${typeof hum.mean === 'number' ? hum.mean.toFixed(2) : hum.mean}`\n};\n\nconst led = stats.alarm_activations;\nconst msgLed = {\n  payload: `Alarm activations: ${led}`\n};\n\nconst msgStages = {\n  payload: `Deep sleep: ${stages.deep_h} h | Light sleep: ${stages.light_h} h | REM sleep: ${stages.rem_h} h`\n};\n\nconst msgScore = {\n  payload: `Sleep score: ${quality.score} - Meaning: ${quality.label}`\n};\n\nreturn [\n  msgSleepInfo,\n  msgBpmChart,\n  msgBpmStats,\n  msgTempChart,\n  msgTempStats,\n  msgHumChart,\n  msgHumStats,\n  msgLed,\n  msgStages,\n  msgScore\n];",
        "outputs": 10,
        "timeout": "",
        "noerr": 6,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 490,
        "wires": [
            [
                "sleep-info"
            ],
            [
                "chart-bpm"
            ],
            [
                "text-bpm-stats"
            ],
            [
                "chart-temp"
            ],
            [
                "text-temp-stats"
            ],
            [
                "chart-hum"
            ],
            [
                "text-hum-stats"
            ],
            [
                "text-led"
            ],
            [
                "text-stages"
            ],
            [
                "text-score"
            ]
        ]
    },
    {
        "id": "sleep-info",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Sleep info",
        "label": "Window:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1430,
        "y": 450,
        "wires": []
    },
    {
        "id": "chart-bpm",
        "type": "ui_chart",
        "z": "tab-flow",
        "name": "BPM",
        "group": "ui-group-dashboard",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "BPM",
        "chartType": "line",
        "legend": "false",
        "xformat": "d",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 490,
        "wires": [
            []
        ]
    },
    {
        "id": "text-bpm-stats",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "BPM stats",
        "label": "BPM stats:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1440,
        "y": 530,
        "wires": []
    },
    {
        "id": "chart-temp",
        "type": "ui_chart",
        "z": "tab-flow",
        "name": "Temperature",
        "group": "ui-group-dashboard",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "d",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "text-temp-stats",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Temp stats",
        "label": "Temperature stats:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1460,
        "y": 610,
        "wires": []
    },
    {
        "id": "chart-hum",
        "type": "ui_chart",
        "z": "tab-flow",
        "name": "Humidity",
        "group": "ui-group-dashboard",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "d",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 650,
        "wires": [
            []
        ]
    },
    {
        "id": "text-hum-stats",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Humidity stats",
        "label": "Humidity stats:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1470,
        "y": 690,
        "wires": []
    },
    {
        "id": "text-led",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "LED/Alarm",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1440,
        "y": 730,
        "wires": []
    },
    {
        "id": "text-stages",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Sleep stages",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1450,
        "y": 770,
        "wires": []
    },
    {
        "id": "text-score",
        "type": "ui_text",
        "z": "tab-flow",
        "group": "ui-group-dashboard",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Sleep score",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1450,
        "y": 810,
        "wires": []
    }
]